.header-wrapper {
    width: 100vw !important;
    position: static;
    top: 0px;

    z-index: 999;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background-color: white;
    border-bottom: solid 1px rgb(232, 232, 232);
}

.header-logo {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 1em;
    margin-right: 0em;

    vertical-align: middle;

    flex-grow: 1;
    flex-shrink: 0;
    font-size: 18px;
    color: #00a885;
    text-decoration: none !important;
}

.header-menu {
    flex-basis: 723px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 1em;
    border-bottom: none;
    white-space: inherit;
}